body {
  background-color: #083d77;
}
header {
  border: 2px solid black;
  display:flex;
  justify-content:center;
  align-self: center;
  width:300px;
  flex-flow:wrap;
}
footer {
  border: 2px solid black;
  display:flex;
  flex-flow:row;
  justify-content:center;
  align-self: center;
}
.intro {
  display:flex;
  flex-flow:column;
}
.extra2 {
  position: fixed;
  bottom: 44px;
  left: 0;
  right: 0;
  height: 10px;
  background: #fff;
  z-index: 9998;
}

.extra1 {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 20;
  right: 10px;
  z-index: 9999;
  background-image: url(prince.svg);
  background-size: 100%;
}

@media screen and (min-width: 600px) {

}
